{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700,900,100italic,300italic,400italic,500italic,700italic,900italic"
          rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/1.0.1/awesome-bootstrap-checkbox.min.css"/>

    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/style.css">

    <link rel="stylesheet" href="{{ asset('build/vueApp.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Core -->

    <script src="{{ asset('build/vueApp.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block body_attr %}
    class="bg-ex"
{% endblock %}

