<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="/assets/img/brand/favicon.png" rel="icon" type="image/png">
    {% block stylesheets %}
    {% endblock %}
</head>
<body {% block body_attr %}{% endblock %}>
{% block body %}
{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>