<template>
  <div class="jobs-detail mt-5">

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="logo-card">
            <div class="logo-card-logo js-stripe-logo logo-card-logo--flipped">
              <img src="https://res.cloudinary.com/dicvy1tuu/image/upload/v1552041528/vectors/sample-logo.png"
                   alt="Sample logo">
            </div>

            <div class="logo-card-content">
              <h2 class="common-IntroText">
                {{ job.data.job_title }}
              </h2>

              <p class="flex-space-between mb-0">
                <span class="text-main">{{ job.data.job_title }}</span>
              </p>

              <p class="flex-space-between mb-0">
                <span class="text-main">{{ job.data.company_desc }}</span>
                <span class="text-main">{{ job.data.company_size_name }} </span>
              </p>

              <p class="flex-space-between">
                <span class="text-orange">{{ job.data.salary_min }} - {{ job.data.salary_max }}</span>
              </p>

              <div v-html="job.data.job_description" class="common-BodyText">
              </div>

              <div class="logo-card-actions common-BodyText">

                <router-link class="mt-5" :to="{name: 'jobs-index'}">
                  Back to list
                </router-link>

                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>

  import axios from 'axios';
  export default {
    data () {
      return {
        job: {}
      }
    },
    props: {},
    mounted () {},
    created () {
      this.loadData();
    },
    methods: {
      loadData:function () {
        // TODO refactor to env
        this.job = {
          "data": {
            "industries": [
              1
            ],
            "language_id": 1,
            "skills": [
              {
                "skillName": "Khả Năng Giao Tiếp và Trình Bày Thuyết Phục",
                "skillId": 709869,
                "skillWeight": 100,
                "isExisted": false
              }
            ],
            "benefits": [
              {
                "benefitId": 1,
                "benefitValue": "Thưởng",
                "benefitIconName": "fa-dollar"
              },
              {
                "benefitId": 2,
                "benefitValue": "Chăm sóc sức khỏe",
                "benefitIconName": "fa-user-md"
              },
              {
                "benefitId": 3,
                "benefitValue": "Nghỉ phép có lương",
                "benefitIconName": "fa-file-image-o"
              }
            ],
            "job_id": 759672,
            "locations": [
              24,
              29
            ],
            "user_id": 4543714,
            "alias": "ke-toan-truong-2",
            "job_title": "Kế Toán Trưởng",
            "salary_range_id": 0,
            "job_description": "+ Lập kế hoạch tài chính, triển khai và theo dõi các hoạt động tài chính của Công ty; dự báo về tình hình vốn và thị trường vốn.\n+ Phân tích tình hình tài chính nhằm nhận diện những điểm mạnh và điểm yếu cần cải tiến.\n+ Tham mưu cho Ban Lãnh đạo Công ty trong lĩnh vực tài chính, đầu tư tài chính, kế toán và nghiệp vụ tài chính kế toán; quản trị rủi ro, nâng cao hiệu quả tài chính.\n+ Lập và đánh giá báo cáo tài chính theo quy định của Pháp luật và Điều lệ của Công ty. Chỉ đạo công tác hạch toán và lập báo cáo tài chính.\n+ Phân tích và tham gia thẩm định tính hiệu quả của các dự án đầu tư.\n+ Các công việc khác như lập, phân tích báo cáo; quan hệ đối tác, ngân hàng;\n+ Quan hệ với Ngân hàng và các tổ chức tín dụng… trong hoạt động vay vốn trung hạn, dài hạn, ngắn hạn và lưu chuyển tiền tệ;\n+ Chịu trách nhiệm và làm việc với cơ quan thuế và các cơ quan chức năng về số liệu tài chính có liên quan đến nghĩa vụ của đơn vị;\n+ Xem xét, đánh giá, kiểm tra và phân tích dự báo hoạt động tài chính kế toán của các bộ phận, các hợp đồng, dự án.\n+ Kiểm tra, kiểm soát, đánh giá việc thực hiện kế hoạch sản xuất kinh doanh, kế hoạch thu chi tài chính, tình hình thu nộp và thanh toán..v..v.\n+ Đề xuất và tham vấn Ban Lãnh đạo các biện pháp hạn chế chi phí và phương pháp giải quyết các vấn đề phát sinh đảm bảo đúng nguyên tắc quản lý tài chính- kế toán; \n+ Tổ chức và quản lý bộ máy kế toán của Công ty;\n+ Tổ chức thực hiện các nghiệp vụ tài chính kế toán.\n+ Xây dựng kế hoạch hoạt động của phòng theo quý/năm",
            "skill_experience": "+ Giới tính: Nam, nữ\n+ Tuổi: từ 30 tuổi trở lên\n+ Tốt nghiệp Đại học chính quy trở lên chuyên ngành Tài chính, Kế toán ( tối thiểu bằng tốt nghiệp loại khá);\n+ Ít nhất 03 năm kinh nghiệm làm việc tại vị trí kế toán trưởng hoặc 05 năm kinh nghiệm ở vị trí tương đương ở các công ty hoạt động trong lĩnh vực viễn thông, CNTT;\n+ Có chứng chỉ kế toán trưởng do Bộ Tài chính cấp;\n+ Thành thạo Microsoft office, đặc biệt là excel;\n+ Giao tiếp tốt Tiếng Anh (bắt buộc);\n+ Có chứng chỉ ACCA là một lợi thế.\n\n\nQuyền lợi:\n+ Môi trường làm việc hiện tại, năng động, văn hóa trẻ trung, có nhiều cơ hội thăng tiến.\n+Mức lương cạnh tranh, hưởng các phụ cấp, hưởng các dịp lễ tết, lương tháng 13.\n+ Thời gian làm việc: 40h/tuần\n+ Được tham gia các khóa đào tạo do công ty chi trả toàn bộ chi phí.\n+ Được trang bị các công cụ làm việc theo yêu cầu.\n+ Đảm bảo đầy đủ các chế độ chính sách cho người lao động: khám sức khỏe định kỳ, BHXH theo quy định, chế độ công tác.\n+ Tham gia các hoạt động văn hóa, thể thao: nghỉ mát, sinh nhật và các ngày hội của Công ty.",
            "company_desc": "VNW Test (Copy) - Updated",
            "company_size_id": 4,
            "company_size_name": "100-499",
            "company_profile": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
            "email_address": "quynhemployer@yopmail.com",
            "contact_name": "Quynh",
            "address": "130 Suong Nguyet Anh, Ben Thanh, Quan 1",
            "created_date": "2019-04-16T14:06:18+07:00",
            "expired_date": "2019-05-16T23:59:59+07:00",
            "approved_date": "2019-04-16T14:06:45+07:00",
            "deadline_date": "",
            "last_updated_date": "2019-04-22T11:03:40+07:00",
            "is_approved": 1,
            "is_unpaid_disable": 0,
            "is_deleted": 0,
            "is_pend": 0,
            "company_id": 251362,
            "number_of_views": 0,
            "is_show_logo": 1,
            "salary_min": 500,
            "salary_max": 1000,
            "language_selected_id": 3,
            "job_level_id": 5,
            "is_show_contact": false,
            "no_applications": 4,
            "redirect_to": "",
            "required_resume": true,
            "required_cover_letter": 0,
            "is_premium": false,
            "report_to": "",
            "is_salary_visible": true,
            "canonical": "ke-toan-truong-2-759672-jv/",
            "company_profile_url": "https://staging.vietnamworks.com/company/employer1",
            "not_applied_job": true,
            "check_blacklist": false,
            "company_info": {
              "company_id": 251362,
              "company_logo_url": "https://staging-images.vietnamworks.com/pictureofcompany/99/10314361.png",
              "job_image_urls": [
                "https://staging-images.vietnamworks.com/company_profile/41631.jpg"
              ],
              "job_video_urls": [
                "https://www.youtube.com/watch?v=NG2zyeVRcbs"
              ],
              "company_name": "VNW Test (Copy) - Updated",
              "company_size_id": 4,
              "company_profile": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
              "address": "130 Suong Nguyet Anh, Ben Thanh, Quan 1",
              "contact_name": "0963561591",
              "contact_email": "",
              "allow_redirect": 1,
              "website": "",
              "why_work_with_us": "",
              "profile_baseName": "",
              "is_upgrade_profile": 0,
              "is_delete_profile": 0,
              "is_allow_user_edit": 0,
              "company_profile_banner_url": "https://staging-images02.vietnamworks.com",
              "company_profile_size": "100-499",
              "company_profile_url": "https://staging.vietnamworks.com/company/employer1"
            },
            "location_items": [
              {
                "item_key": 24,
                "item_name": "Hà Nội"
              },
              {
                "item_key": 29,
                "item_name": "Hồ Chí Minh"
              }
            ],
            "industry_items": [
              {
                "item_key": 1,
                "item_name": "Kế toán"
              }
            ],
            "language_selected_name": "Bất kỳ",
            "is_head_hunt_job": false,
            "is_top_management_job": false,
            "is_adr_lite_job": false,
            "is_saved_job": false,
            "add_skill_is_limited": false
          },
          "status": {
            "code": 200,
            "message": "Success"
          }
        };

      },
    },
    computed: {}
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
