<template>
  <div class="jobs-list mt-4">

    <div class="container">
      <div class="row my-4">
        <div class="col-12 ">
          <router-link class="" :to="{name: 'home-index'}">
            Back to Home
          </router-link>
        </div>
      </div>

      <div class="row">

        <div v-for="job in jobs" class="col-12 col-sm-6">

            <div class="card card-ex shadow-thin mt-3">
              <div class="card-body">

                <div class="row">
                  <div class="col-2 pr-0 d-flex align-items-center">
                    <div class="el-wrapper11">
                      <div class="el-inner">
                        <img :src="job.companyLogo"
                             class="el-img-fit rounded-circle img-center img-fluid shadow shadow-lg--hover">
                      </div>
                    </div>


                  </div>

                  <div class="col-10 ml-auto">
                    <router-link class="" :to="{name: 'job-detail-index', params: {job_id: job.jobId}}">
                      <p class="flex-space-between m-0">
                        <span class="text-main ellipsis">{{ job.jobTitle }}</span>
                      </p>
                    </router-link>

                    <p class="flex-space-between m-0">
                      <span class="text-grey ellipsis">{{ job.company }}</span>
                      <span class="text-grey ellipsis">{{ job.locations.join(', ') }}</span>
                    </p>
                    <p class="flex-space-between m-0">
                      <span class="text-orange">{{ job.salaryMax }}</span>
                    </p>
                  </div>

                </div>

              </div>
            </div>

        </div>

      </div>
    </div>

  </div>
</template>

<script>

  import axios from 'axios';
  import algoliasearch from 'algoliasearch';

  export default {
  data () {
    return {
      jobs: [],
      currentSearchCriteria: {
        keyword: '',
        filter: '',
        limit: 10,
        page: 0
      }
    }
  },
  props: {},
  mounted () {},
  created () {
    this.loadData();
  },
  methods: {
    loadData: function() {
      this.requestJobs();
    },
    requestJobs: function () {
      let thisObj = this;

      // TODO refactor to environment
      let algoliaClient = algoliasearch('JF8Q26WWUD', '17dd02768b3def30a4691ce743edbb6c');
      let algoliaIndex = algoliaClient.initIndex('vnw_job_new_staging_1');

      let keyword = this.currentSearchCriteria.keyword;
      let filters = this.currentSearchCriteria.filter;

      let limit = this.currentSearchCriteria.limit;
      let page = this.currentSearchCriteria.page;

      if (typeof filters === 'undefined' || filters === null) {
        filters = '';
      }

      limit = limit ? limit : 10;
      page = page ? page : 0;

      var filter = {
        page: page,
        hitsPerPage: limit,
        filters: filters
      };

      algoliaIndex.search(keyword, filter, function searchDone(err, data) {
        thisObj.jobs = data.hits;
      });
    }
  },
  computed: {}
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
