<template>
    <div>

        <h1 class="mt-5">Page Not Found</h1>
        <p>Sorry, but the page you were trying to view does not exist.</p>

    </div>
</template>

<script>

    export default {
        data () {
            return {
                message: ''
            }
        },
        created () {},
        methods: {}
    }
</script>


<style scoped lang="scss">
    * {
        line-height: 1.2;
        margin: 0;
    }

    html {
        color: #888;
        display: table;
        font-family: sans-serif;
        height: 100%;
        text-align: center;
        width: 100%;
    }

    body {
        display: table-cell;
        vertical-align: middle;
        margin: 2em auto;
    }

    h1 {
        color: #555;
        font-size: 2em;
        font-weight: 400;
        text-align: center;
    }

    p {
        margin: 0 auto;
        width: 280px;
        text-align: center;
    }

    @media only screen and (max-width: 280px) {

        body, p {
            width: 95%;
        }

        h1 {
            font-size: 1.5em;
            margin: 0 0 0.3em;
        }

    }
</style>
