.hero-banner::after{
    content: "";
    position: absolute;
    bottom: -100px;
    left: -50px;
    height: 280px;
    width: 130%;
    background-color: #ffffff;
    -webkit-transform: rotate(-9deg);
    -ms-transform: rotate(-9deg);
    transform: rotate(-9deg);
    z-index: 1;
}

.section-feature{
    z-index: 2;
}

.card-2nd{
    margin-top: 90px;
}

.card-3rd{
    margin-top: 180px;
}

.sample-wrapper{
    position: relative;
    top: 140px;
    left: 50px;
    -webkit-transform: rotate(-9deg);
    -ms-transform: rotate(-9deg);
    transform: rotate(-9deg);
    z-index: 5;
}

.sample-menu{
    position: absolute;
    /*z-index: 5;*/
    border-radius: 15px;
    padding: 5px;
    background: #fff;
}
.img-sample-1{
    width: 500px;
}
.img-sample-2{
    width: 300px;
    left: 540px;
}
.img-sample-3{
    height: 500px;
    top: 470px;
    left: 460px;
}
.img-sample-4{
    width: 420px;
    top: 400px;
}

.section-info{
    z-index: 6;
}

.card-summary{
    top: -280px;
    z-index: 10;
    padding: 60px;
}

.menu-howto .footer.has-cards{
    padding-top: 420px;
}

.menu-example .section-shaped .shape-style-1.shape-default, .menu-pricing .section-shaped .shape-style-1.shape-default{
    background: url('/img/hero.jpg');
}

.example-menu{
    border-radius: 15px;
    padding: 5px;
    background: #fff;
    width: 100%;
}

.mt-10rem{
    margin-top: 10rem;
}

.mt-6rem{
    margin-top: 6rem;
}

.desc-list{
    list-style: none;
}

.price-info{
    height: 200px;
}

.price-wrapper{
    position: absolute;
    z-index: 10;
}

.menu-pricing .section-tech{
    margin-top: 70px;
    padding-bottom: 0px;
}