.p-40{  padding: 40px;  }
.px-40{  padding-left: 40px;  padding-right: 40px;  }
.py-40{  padding-top: 40px;  padding-bottom: 40px;  }
.pb-40{  padding-bottom: 40px;  }
.pt-40{  padding-top: 40px;  }

.p-60{  padding: 60px;  }
.px-60{  padding-left: 60px;  padding-right: 60px;  }
.py-60{  padding-top: 60px;  padding-bottom: 60px;  }
.pb-60{  padding-bottom: 60px;  }
.pt-60{  padding-top: 60px;  }

.p-30{  padding: 30px;  }
.px-30{  padding-left: 30px;  padding-right: 30px;  }
.py-30{  padding-top: 30px;  padding-bottom: 30px;  }
.pb-30{  padding-bottom: 30px;  }
.pt-30{  padding-top: 30px;  }

.border-0{ border: none !important; }
.border-radius-0{ border-radius: 0px; }
.border-radius-2{ border-radius: 2px; }
.border-radius-3{ border-radius: 3px; }
.border-radius-4{ border-radius: 4px; }
.border-radius-6{ border-radius: 6px; }
.border-radius-8{ border-radius: 8px; }

.shadow-transition {
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.shadow-0{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}
.shadow-2{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.shadow-3{
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
}

.shadow-4{
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
}
.shadow-6{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
}

.shadow-8{
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

.shadow-12{
    box-shadow: 0 12px 16px 1px rgba(0, 0, 0, 0.14), 0 4px 22px 3px rgba(0, 0, 0, 0.12), 0 6px 7px -4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 12px 16px 1px rgba(0, 0, 0, 0.14), 0 4px 22px 3px rgba(0, 0, 0, 0.12), 0 6px 7px -4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 12px 16px 1px rgba(0, 0, 0, 0.14), 0 4px 22px 3px rgba(0, 0, 0, 0.12), 0 6px 7px -4px rgba(0, 0, 0, 0.4);
}

.shadow-16{
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}
.shadow-24{
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.4);
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* CENTER DIV */
.el-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%)
}

.el-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.el-horizontal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

/* USAGE EXAMPLE */
/*
<div style='position:relative;width:800px;height:500px'>
	<div class="el-center">
		Lorem ipsum dolor sit amet
	</div>
</div>
*/

/* DIV ASPECT RATIO */
.el-wrapper169 {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.el-wrapper11 {
    position: relative;
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
}

.el-wrapper32 {
    position: relative;
    width: 100%;
    padding-top: 66.66%; /* 3:2 Aspect Ratio */
}

.el-wrapper43 {
    position: relative;
    width: 100%;
    padding-top: 75%; /* 4:3 Aspect Ratio */
}

.el-wrapper85 {
    position: relative;
    width: 100%;
    padding-top: 62.5%; /* 8:5 Aspect Ratio */
}

.el-wrapper21 {
    position: relative;
    width: 100%;
    padding-top: 50%; /* 2:1 Aspect Ratio */
}

.el-wrapper52 {
    position: relative;
    width: 100%;
    padding-top: 40%; /* 2:1 Aspect Ratio */
}

.el-wrapper31 {
    position: relative;
    width: 100%;
    padding-top: 33.33%; /* 3:1 Aspect Ratio */
}

.el-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.el-img-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.el-img-fit-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* USAGE EXAMPLE */
/*
<div class="el-wrapper169">
	<div class="el-inner">
	  	<img src='image.png' class='el-img-fit'>
	</div>
</div>
*/

.el-text{
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(15,15,15,0.78);
    padding: 20px;
    color: #ffffff;
}

.el-text-left:after{
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    left: 100%;
    top: 0;
    background-color: rgb(15,15,15);
    -webkit-transform: skewY(-12deg);
    transform: skewX(-12deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    z-index: 0;
}
.el-text-left{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    background: rgb(15,15,15);
    color: #ffffff;
}

.shadow-grad-bg {
    background: rgba(0, 0, 0, 0.4); /* For browsers that do not support gradients */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
}

@keyframes lds-rolling {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-webkit-keyframes lds-rolling {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.lds-rolling {
    position: relative;
}

.lds-rolling div,
.lds-rolling div:after {
    position: absolute;
    width: 160px;
    height: 160px;
    border: 20px solid #51CACC;
    border-top-color: transparent;
    border-radius: 50%;
}

.lds-rolling div {
    -webkit-animation: lds-rolling 1s linear infinite;
    animation: lds-rolling 1s linear infinite;
    top: 100px;
    left: 100px;
}

.lds-rolling div:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.lds-rolling {
    width: 51px !important;
    height: 51px !important;
    -webkit-transform: translate(-25.5px, -25.5px) scale(0.255) translate(25.5px, 25.5px);
    transform: translate(-25.5px, -25.5px) scale(0.255) translate(25.5px, 25.5px);
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.h-100 {
    height: 100px;
}

.h-200 {
    height: 200px;
}

.h-250 {
    height: 250px;
}

.transition-15-ease {
    transition: all .15s ease;
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
}

.transition-15-eio {
    transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
}

.transition-cube {
    transition: all .3s cubic-bezier(.68, -.55, .265, 1.55);
    -webkit-transition: all .3s cubic-bezier(.68, -.55, .265, 1.55);
    -moz-transition: all .3s cubic-bezier(.68, -.55, .265, 1.55);
}

.hover-up-2:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.15);
}

.hover-up-10:hover {
    transform: translateY(-10px);
}

.hover-up-5:hover {
    transform: translateY(-5px);
}

.hover-up-1:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

/*Thin*/
/*Extra-Light*/
/*Light*/
/*Regular*/
/*Medium*/
/*Semi-Bold*/
/*Bold*/
/*Extra-Bold*/
/*Black*/

.shadow-bold {
    box-shadow: 0 .15rem 1.75rem 0 rgba(33,37,41,.15);
}

.shadow-extra-bold {
    box-shadow: rgba(136, 136, 136, 0.5) 0px 0px 20px 0px;
}

.shadow-ex {
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
}

.shadow-thin {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
}

.btn-ex {
    border: none;
    border-radius: 4px;
    font-size: 15px;
    padding: 0px 10px;
    height: 39px;
    line-height: 39px;
    text-align: center;
}

.btn-grey, .btn-grey:hover {
    background-color: rgba(135, 152, 173, 0.4);
    color: rgb(135, 152, 173);
}

.btn-red, .btn-red:hover {
    background-color: rgba(214, 54, 73, 0.4);
    color: #D63649;
}

.btn-orange, .btn-orange:hover {
    background-color: rgba(247, 148, 29, 0.4);
    color: #F7941D;
}

.btn-blue, .btn-blue:hover {
    background-color: rgba(30, 145, 246, 0.4);
    color: #1e91f6;
}

.btn-green, .btn-green:hover {
    background-color: rgba(51, 172, 46, 0.4);
    color: #33AC2E;
}

/* USAGE EXAMPLE */
/*
    <button class="btn btn-ex btn-blue hover-up-1">Blue</button>
*/

.text-green {
    color: #33AC2E;
}

.text-red {
    color: #D63649;
}

.text-blue {
    color: #1e91f6;
}

.text-grey {
    color: rgb(135, 152, 173);
}

.text-orange {
    color: #F7941D;
}

.fw-100 {
    /*Thin*/
    font-weight: 100;
}

.fw-200 {
    /*Extra-Light*/
    font-weight: 200;
}

.fw-300 {
    /*Light*/
    font-weight: 300;
}

.fw-400 {
    /*Regular*/
    font-weight: 400;
}

.fw-500 {
    /*Medium*/
    font-weight: 500;
}

.fw-600 {
    /*Semi-Bold*/
    font-weight: 600;
}

.fw-700 {
    /*Bold*/
    font-weight: 700;
}

.fw-800 {
    /*Extra-Bold*/
    font-weight: 800;
}

.fw-900 {
    /*Black*/
    font-weight: 900;
}

.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-16{
    font-size: 16px;
}
.fs-24{
    font-size: 24px;
}
.fs-32{
    font-size: 32px;
}
.fs-40{
    font-size: 40px;
}
.fs-48{
    font-size: 48px;
}

.card-body{
    z-index: 1;
}
.card-ex {
    border: 1px solid rgba(46, 91, 255, 0.08);
    border-radius: 4px;
    background-color: #FFFFFF;
}

.card-img-ex{
    border: none;
    border-radius: 0;
}

.bg-ex {
    background-color: #f8f9fe;
}

/* SKILL */

.skill-tags {
    padding: 20px;
    overflow: auto;
}
.skill-tags a {
    float: left;
    color: #444;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-weight: 400;
    padding: 4px 15px;
    border: 1px solid #00b9f2;
    border-radius: 2px;
    background: #fff;
    margin: 1px 3px 5px;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}
.skill-tags a:hover {
    text-decoration: none;
    background: rgb(0,91,137);
    border: 1px solid rgb(0,91,137);
    color: #fff;
}
/* SKILL CARD */


/* SKEW CARD */

.card-skew{
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);
    box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);
}

.skew-cover{
    position: relative;
}
.skew-cover:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0;
    top: 100%;
    background-color: #fff;
    -webkit-transform: skewY(-12deg);
    transform: skewY(-12deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.card-skew .card-img-top {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

/* END SKEW CARD */

/* PRODUCT CARD */

.card-product {
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px -2px rgba(50,50,93,.25), 0 3px 7px -3px rgba(0,0,0,.3);
    box-shadow: 0 6px 12px -2px rgba(50,50,93,.25), 0 3px 7px -3px rgba(0,0,0,.3);
    border-radius: 4px;
    border: none;
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

/* END PRODUCT CARD */

/* BLOG CARD */

.card-blog{
    background: #fff;
    border: 1px solid #eaecee;
    border-radius: 4px;
}

/* END BLOG CARD */

/* FEATURED CARD */

.featured-article {
    position: relative;
    min-height: 400px;
    /*max-width: 1080px;*/
    margin: 0 auto 60px;
    overflow: hidden;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 20px;
    -webkit-box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);
    box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
}

.featured-article-image {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.featured-article-image:before {
    content: "";
    width: 48%;
    position: absolute;
    left: 0;
    top: 50%;
    height: 150%;
    background-color: #fff;
    -webkit-transform: translate(-60px,-50%) rotate(12deg);
    transform: translate(-60px,-50%) rotate(12deg);
    z-index: 1;
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out,-webkit-transform .2s ease-out;
}

.featured-article-image>img {
    position: absolute;
    max-height: none;
    width: 65%;
    right: 0;
    height: 100%;
}

.featured-article-content {
    padding: 20px 0 30px 20px;
    -webkit-box-flex: 0.35;
    -ms-flex: 0.35;
    flex: 0.35;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 30px 20px;
    position: relative;
    z-index: 2;
}

/* END FEATURED CARD */

/* LOGO CARD */

.logo-card {
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);
    box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);
    background-color: #fff;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: 0px;
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out,-webkit-transform .2s ease-out;
}

.logo-card-logo {
    width: 38%;
    min-height: 180px;
    background-color: rgba(214, 54, 73, 0.4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo-card-logo img{
    height: 100px;
    width: auto;
}

.logo-card-content {
    padding: 50px;
    width: 62%;
}

/* END LOGO CARD */