<template>
  <router-view>
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </router-view>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'

export default {
  components: {
    HelloWorld
  }
}
</script>

<style>

</style>
